*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100%;
    background-image:url(../images/wallpaper.png);
    background-size: cover;
    background-position: center;
}
.wrapper2{
    height: 100vh;
    width: 100%;
    background-image:url(../images/vector1.png);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 10%;
    padding-right: 10%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    font-family: "Montserrat", sans-serif;
    padding: 0 10px;
    position: relative;
}

nav ul li a:after{
    content: "";
    position: absolute;
    background-color: #fd9c09;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav ul li a:hover{
    color: black;

}
nav ul li a:hover:after{
    width: 100%;
}

.nav-button{
    border: none;
    background: #fd9c09;
    padding: 12px 30px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: .4s;
}

.nav-button:hover{
    background: #d37f00;
    cursor: pointer;
}

.logo-image img{
    width: 100%;
    height: 80px;
    overflow: hidden;
    margin-top: -6px;
}

.promotional1 {
    float:left;
    width: 30%;
    margin-left: 20%;
    margin-top: 10%;
    border-radius: 20px;
    filter: drop-shadow(-4px 3px 6px rgba(0, 0, 0, 0.25));
}

.promotional2 {
    float:right;
    width: 30%;
    margin-top: 15%;
	margin-right: 20%;
    border-radius: 20px;
    filter: drop-shadow(-4px 3px 6px rgba(0, 0, 0, 0.25));
}

.promotional3 {
    float:left;
    width: 30%;
    margin-top: 15%;
	margin-left: 20%;
    border-radius: 20px;
    filter: drop-shadow(-4px 3px 6px rgba(0, 0, 0, 0.25));
}
.product-info{
    float: right;
    margin-top: 13%;
    margin-right:25%;
    font-family: 'Tahoma';
}
.product-info2{
    float: left;
    margin-top: 17%;
    margin-left:20%;
    font-family: 'Tahoma';
}
.product-info3{
    float: right;
    margin-top: 15%;
    margin-right:25%;
    font-family: 'Tahoma';
}
.product-info4{
    float: left;
    margin-top: 17%;
    margin-left:25%;
    font-family: 'Tahoma';
}
.mini-title{
    font-size: 1.5em;
    font-weight: bold;
    color:#fd9c09;
    margin-bottom: 5%;
}

.head-title{
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 5%;
}

.feature-desc{
    font-size: 1.2em;
    margin-bottom:10%;
}



.product-button{
    border: none;
    background: #fd9c09;
    padding: 12px 30px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: .4s;
    height: 60px;
    width: auto;
}
.product-button:hover{
    background: #d37f00;
    cursor: pointer;
}


.footer-distributed{
	background: #444;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	text-align: left;
	padding: 50px 60px 40px;
	overflow: hidden;
}

section {
  width: 100%;
  display: inline-block;
  height: 60vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}



/* Footer left */

.footer-distributed .footer-left{
	float: left;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Roboto', cursive;
	margin: 0 0 10px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}


/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons{
	margin-top: 40px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right{
	float: right;
}

.footer-distributed .footer-right p{
	display: inline-block;
	vertical-align: top;
	margin: 15px 42px 0 0;
	color: #ffffff;
}

/* The contact form */

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	color:  #d1d2d2;

	width: 400px;
	padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  #5c666b;
}

.footer-distributed ::-moz-placeholder {
	color:  #5c666b;
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  #5c666b;
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
	cursor: pointer;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-company-name{
		font-size: 12px;
	}

	.footer-distributed form input,
	.footer-distributed form textarea{
		width: 250px;
	}

	.footer-distributed form button{
		padding: 10px 35px;
	}

}

@media (max-width: 800px) {

	.footer-distributed{
		padding: 30px;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		float: none;
		max-width: 300px;
		margin: 0 auto;
	}

	.footer-distributed .footer-left{
		margin-bottom: 40px;
	}

	.footer-distributed form{
		margin-top: 30px;
	}

	.footer-distributed form{
		display: block;
	}

	.footer-distributed form button{
		float: none;
	}
}

/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #363736; 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #898d08; 
  }
